<!DOCTYPE html>
<html>
<title>Home Signup page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:auto;}
</style>
<body>

<div class="w3-container" >
<h1>Signup as Customer</h1>
<a   href="Signup/customer/" ><button class="w3-button w3-blue">I'm Customer</button></a>
</div>

<div class="w3-container">

<h2>Signup as Vendor</h2>
<a href="Signup/vendor/"><button class="w3-button w3-purple">I'm Vendor</button></a>
</div>